	<h1>GateKeeper LDAP get rol</h1>
	<form name="test" action="/check_user" method="post">
	  <p>User Name</p>
	  <input type="text" name="name" />
	  <input type="submit" value="Check User"/>
	  <br>
	</form>	
