	<h1>GateKeeper LDAP login</h1>
	<form name="test" action="/login" method="post">
	  <p>User Name</p>
	  <input type="text" name="name" />
	  <input type="submit" value="Login"/>
	  <br>
          <a href='http://localhost:4567/users_management'>User Management</a><br>
	  <a href='http://localhost:4567/get_rol'>Get User Rol</a><br>	
	</form>	
